language: python
python:
  - "2.7"
# command to install dependencies
install:
  #-  pip install -r requirements.txt
  #-  pip install pipenv
deploy:
  provider: script
  script: scripts/deploy.sh
  on:
    branch: master
