language: python
python:
  - "2.7"
# command to install dependencies
install:
  -  pip install -r requirements.txt
  -  pip install pipenv
script:
  - echo "no tests"
deploy:
  provider: script
  script:
    - echo "yoyoyo $PWD"
    - sh $TRAVIS_BUILD_DIR/scripts/deploy.sh
  on:
    branch: master
